// FONT
$default-font-size: 1rem;



// COLORS
$color-primary: #F7C032;

$color-secondary:#343434;

$color-tertiary:#242424;

$color-quaternary:#EEEEEE;

$color-white-light: #f7f7f7;
$color-grey-light: #F2F2F2;

$color-grey-darker:#E2E2E2;
$color-grey-really-dark:#979797;

$color-white: #fff;
$color-black: #000;





// Typography
// $typo-headlines:'Roboto', sans-serif;
$typo-headlines:'Poppins', sans-serif;
$typo-global:'Montserrat', sans-serif;





// Font Weight
$fw-light:300;
$fw-regular:400;
$fw-medium:500;
$fw-semi-bold:600;
$fw-bold:700;
$fw-black:900;










// $color-primary-light:;
// $color-primary-dark:;




// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;


// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;






// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;