*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    // font-size: 16px; //1 rem = 10px; 10px/16px = 62.5%

    // @include respond(tab-land) { // width < 1200?
    //     font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    // }

    // @include respond(tab-port) { // width < 900?
    //     font-size: 50%; //1 rem = 8px, 8/16 = 50%
    // }

    // @include respond(big-desktop) {
    //     font-size: 75%; //1rem = 12, 12/16
    // }
}

body {
  box-sizing: border-box;
    // padding: 3rem;

    // @include respond(tab-port) {
    //     // padding: 0;
    // }
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

ul {
  padding: 0;
  list-style: none;
}




.show-on-small,
.show-on-medium,
.show-on-large,
.show-on-xlarge {
  display: none;
}

@include respond(small) {
  .show-on-small {
    display: block;
  }
}

@include respond(medium) {
  .show-on-medium {
    display: block;
  }
}

@include respond(large) {
  .show-on-large {
    display: block;
  }
}

@include respond(xlarge) {
  .show-on-xlarge {
    display: block;
  }
}


// ::selection {
//   background-color: $color-primary;
//   color: $color-white;
// }
