.section-about {
	background-color: $color-white-light;
	overflow: hidden;
	position:relative;
	z-index: 9;
	margin-top: rem(-200);
	// margin-bottom: rem(300);
	padding: rem(300) 0;
	@include clipPathLowLeftHighRight;
}

.section-wcid {
	position:relative;
	margin-top: rem(-250);
	padding: rem(300) 0;
	background-color: $color-quaternary;
	@include clipPathLowLeftHighRight;
}

.section-skills {
	overflow: hidden;
	background-color: $color-white-light;
	margin-top: rem(-300);
	padding: rem(300) 0 rem(300);
}

.section-status {
	background-image: url('/assets/images/pictures/bg-city.jpg');
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	filter: grayscale(40%);
	// padding: rem(70) 0 rem(250);
	padding: rem(70) 0;
	&__container {
		height: 100%;
		background: rgba(52,58,54,0.7);
	}
}

.section-portfolio {
	position: relative;
	z-index: 2;
	background-color: $color-white-light;
	padding: rem(100) 0 rem(700);

	background-image: url('/assets/images/icons/iconmonstr-construction.png');
	background-size: 240px;
  background-position: center;
  background-repeat: no-repeat;
	// @include clipPathLowLeftHighRight;
}
.section-google-map {
	margin-top: rem(-350);
	// margin-bottom: rem(67);
	height: rem(1200);
}

