body {
  font-family: $typo-global;
  font-weight: $fw-regular;
  font-size: rem(16);
  line-height: rem(22);
  color: $color-tertiary;
}


.heading-primary {
  font-family: $typo-headlines;
  font-weight: $fw-light;
  margin-bottom: rem(60);

  //font color
  &--dark {
    color: $color-tertiary;
  }
  &--light {
    color: $color-grey-light;
  }

  &--title {
    font-family: inherit;
    color: $color-primary;
    font-weight: $fw-light;
    font-size: rem(52);
    line-height: rem(62);
    display:block;
  }
  &--f-sub {
    @extend .heading-primary--title;
    color: $color-white-light;
    display:block;
  }
  &--s-sub {
    display:block;
    color:$color-white-light;
    font-size: rem(22);
    margin:rem(10) 0;
  }
}


.headline {
  margin-bottom: rem(20);
}

.heading-secondary {
  position:relative;
  display:inline-block;
  font-size: rem(36);
  line-height: rem(60);
  font-family: $typo-headlines;
  font-weight: $fw-regular;
  // overflow: hidden;

  //font color
  &--dark {
    color: $color-tertiary;
  }
  &--light {
    color: $color-grey-light;
  }

  &:first-letter {
    font-size: rem(64);
    color: $color-primary;
    // border-bottom: 3px solid $color-primary;
  }
  &:after {
    content: '';
    width: rem(72);
    height: 3px;
    background-color: $color-primary;
    display: block;
    position: absolute;
    bottom: 6px;
  }

  @include respond(small) {
    &:after {
      display:none;
    }
  }
}

.heading-tertiary {
  font-size: rem(28);
  font-family: $typo-headlines;
  line-height: rem(37);
  font-weight: $fw-regular;

  //font color
  &--dark {
    color: $color-tertiary;
  }
  &--light {
    color: $color-grey-light;
  }
}

.paragraph {
  font-size: $default-font-size;
  line-height: rem(22);

  //font color
  &--dark {
    color: $color-tertiary;
  }
  &--light {
    color: $color-grey-light;
  }

  &:not(:last-child) {
    margin-bottom:rem(25);
  }
}


