.btn {
	&,
	&:link,
	&:visited {
		position: relative;
		text-decoration: none;
		padding:rem(16) rem(38);
		display:inline-block;
	  overflow:hidden;
		font-family: $typo-headlines;
		font-weight: $fw-medium;
		font-size: rem(20);
	  border-radius: 4px;
	  text-transform: uppercase;
		border:none;
		cursor:pointer;
	  outline: 0;
		background: none;
	  z-index: 1;
	  @include transitionFast;
	}
	//=================
	// Modifiers
	//=================
	&--yellow-transparent {
		color:$color-primary;
		background-color: transparent;
		border: 2px solid $color-primary !important;
		&::after {
      background-color: $color-primary;
    }
    &:hover {
			box-shadow: 0 rem(16) rem(32) rgba($color-tertiary,.2);;
    }
	}

	//=================
	// Hover
	//=================
	&.fill-yellow:hover {
	  color: $color-white-light;
	}

	&.fill-yellow:before {
	  content: "";
	  position: absolute;
	  background: $color-primary;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  top: 100%;
	  z-index: -1;
	  transition: top 0.09s ease-in;
	}

	&.fill-yellow:hover:before {
	  top: 0;
	}
}



