.status-box {
	position: relative;
	height: 100%;
	color: $color-white-light;
	font-family: $typo-headlines;
	padding: rem(30);
	font-weight: $fw-light;

	&__top {
		display: block;
		margin: auto;
		min-height: rem(90);
		width: rem(60);
		img {width: 100%;}
	}

	&__bottom {
		span {
			display: block;
		}
	}

	&__counter {
		font-size: rem(42);
		height: rem(50);

	}

	&__title {
		position: relative;
		display: inline-block;
		&:before {
			background-color: $color-primary;
	    content: '';
	    height: 3px;
	    top: rem(-10);
	    left: 50%;
	    position: absolute;
	    transform: translate(-50%,-50%);
	    width: rem(142);
		}
	}

}