.site-header {
	position: fixed;
	width: 100%;
	z-index: 20;

	@include respond(small) {
		display: none;
	}
	@include respond(medium) {
		display: none;
	}

	&__logo {}
	&__menu-content {}
	&--dark {
		background: rgba($color-secondary, 0.6);
	}
}

.primary-nav {
	margin: rem(15) 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			display: inline-block;
			a {
				font-size: rem(18);
				color: $color-white-light;
		    text-decoration: none;
		    display: block;
		    padding: 5px 8px;
		    &:after {
				  display:block;
				  content: '';
				  border-bottom: 2px solid $color-primary;
				  transform: scaleX(0);
				  @include transitionFast;
				}
				&:hover:after { transform: scaleX(1); }
				&:after{  transform-origin:  0% 50%; }
			}
		}
	}
	&--pull-right {
		float:right;
	}
}